
<!DOCTYPE html>
<html>
	<head>


		<title>WEB700</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="about.css" type="text/css"/>
		<link rel="stylesheet" href="theme.css" type="text/css"/>
		<link rel="icon" type="image/x-icon" href="favicon.ico">
		
	</head>

	<body>
		<div class="stars">
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
		  </div>

		<nav class="navbar navbar-expand-lg">
			<a class="navbar-brand" href="/"><img src="logo.png" width="60px" height="60px"/></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
					<li class="nav-item"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
                    <li class="navbar-brand"><a class="navbar-light" href="/students/add"><i class="fas fa-user-plus"></i>&nbsp;Add Student</a> </li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
					<li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
					<li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
				</ul>
			</div>
		</nav>


		
			<div class="row">
				<main class="col-md-12">



				
					<div class="center">
						
						<div class="container">
							
					<h1>Welcome to the <strong>about</strong> page!</h1>
					<br>
					<h3>About me</h3>
					<div>

					<p style="padding-top:25px">As a humble student from Seneca College, 
						I really haven't had the time to go the extra mile for 
						this assignment and I apologize for that. I will make this 
						right in the future. My name is Baris Berber and my student number 
						is 133731224. Thanks for visiting my website!</p>
					</div>
				</div>
			</main>
			
		</div>
	</div>


				<footer class="bg-dark text-center text-white">
					<div class="container p-4 pb-0">
						<section class="mb-1">
						<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
						  ><i class="fab fa-facebook-f"></i
						></a>
				  
						<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
						  ><i class="fab fa-twitter"></i
						></a>
				  
						<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
						  ><i class="fab fa-google"></i
						></a>
				  
						<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
						  ><i class="fab fa-instagram"></i
						></a>
				  
						<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
						  ><i class="fab fa-linkedin-in"></i
						></a>
				  
						<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
						  ><i class="fab fa-github"></i
						></a>
					  </section>
					</div>
		
					<div class="text-center p-3">
					  
					  <a class="text-white">Baris Berber</a>
					</div>
				  </footer>
					<!-- End your code here  -->





		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>
