
			

			 <section class="strips">
				<article class="strips__strip">
					<div class="strip__content">
					  <a class="strip__title" href="/TAs">Students with TAs</a>
					</div>
				  </article>

				  <article class="strips__strip">
					<div class="strip__content">
					  <a class="strip__title" href="/courses">All courses</a>
					</div>
				  </article>
				  <article class="strips__strip">
					<div class="strip__content">
					  <a class="strip__title" href="/students/5">Random Student</a>
					</div>
				  </article>

					<article class="strips__strip">
						<div class="strip__content">
						  <a class="strip__title" href="/htmlDemo">htmlDemo page</a>
						</div>
					  </article>
				  
				<article class="strips__strip">
				  <div class="strip__content">
					<a class="strip__title" href="/students">Students</a>
					</div>
				  </div>
				</article>

					<article class="strips__strip">
						<div class="strip__content">
						  <a class="strip__title" href="/students?course=3">?Course Page</a>
						</div>
					  </article>

						<article class="strips__strip">
							<div class="strip__content">
							  <a class="strip__title" href="/"><i class="fas fa-home"></i></a>
							</div>
						  </article>
				
				
			  </section>
			
			<!-- End your code here  -->

