<!DOCTYPE html>
<html>
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="theme.css" type="text/css"/>
		<link rel="icon" type="image/x-icon" href="favicon.ico">
	</head>

	<body>

		<div class="container">
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
					
					<h2>Tables Section</h2>

					<table class="table">
						<caption>My favorite Foods</caption>
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Food</th>
      <th scope="col">Type</th>
      <th scope="col">Place</th>
    </tr>
  </thead>
  <tbody>
    <tr>
		
      <th scope="row">1</th>
	  
      <td>Pizza</td>
	  <td rowspan="2">Cheese</td>
      <td>Pizza Hut</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Burger</td>
      
      <td>Burgerillas</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Pancake</td>
      <td colspan="2">Maple</td>
    </tr>
  </tbody>
</table>
	<p>This table was to see which foods are my favorite.</p>				


<div class="table2">
<table class="table">
	<caption>My favorite Memes</caption>
<thead>
<tr>
<th scope="col"></th>
<th scope="col">Meme 1</th>
<th scope="col">Meme 2</th>
<th scope="col">Meme 3</th>
</tr>
</thead>
<tbody>
<tr>

<th scope="row">1st place</th>

<td><a href="https://img-9gag-fun.9cache.com/photo/a2KKNQ1_460swp.webp" target="_blank">Meme 1</a></td>
<td><a href="https://img-9gag-fun.9cache.com/photo/ap99oyp_460swp.webp" target="_blank">Meme 2</a></td>
<td><a href="https://img-9gag-fun.9cache.com/photo/a6q1vn8_460swp.webp" target="_blank">Meme 3</a></td>
</tr>
<tr>
<th scope="row">2nd place</th>
<td><a href="https://img-9gag-fun.9cache.com/photo/axoBRMp_460swp.webp" target="_blank">Meme 4</a></td>
<td><a href="https://img-9gag-fun.9cache.com/photo/a1PrOjv_460swp.webp" target="_blank">Meme 5</a></td>
<td><a href="https://img-9gag-fun.9cache.com/photo/anz4Zq0_460swp.webp" target="_blank">Meme 6</a></td>
</tr>
<tr>
<th scope="row">3rd place</th>
<td><a href="https://img-9gag-fun.9cache.com/photo/a8qG68e_460svav1.mp4" target="_blank">Meme 7</a></td>
<td><a href="https://img-9gag-fun.9cache.com/photo/aeQQ1Qm_460swp.webp" target="_blank">Meme 8</a></td>
<td><a href="https://img-9gag-fun.9cache.com/photo/a2KK1vZ_460swp.webp" target="_blank">Meme 9</a></td>
</tr>
</tbody>
</table>
</div>
<p>This table represented some of the best memes that are recent.</p>
<br><br>

<h2>Lists Section</h2>
<h3>Favorite Music Groups</h3>
<ul type="square">
	<li>Paramore</li>
	<li>Panic At the Disco</li>
	<li>Tie for third place
		<ol>
			<li>Disturbed</li>
			<li>Fall Out Boy</li>
			<li>Good Charlotte</li>
		</ol></li>
	<li>Rammstein</li>
	<li>Metallica</li>
  </ul>
<p>Here's a list of the bands that I listen to, listed from best to good.</p>
<h2>Images Section</h2>
<br>
  <div class="text-center">
	<img src="https://roadtripalberta.com/wp-content/uploads/2019/09/Banff-downtown.jpg" class="rounded" alt="Banff1" width="250" height="250">
	<img src="https://cdn.audleytravel.com/3980/2847/79/1314674-banff-national-park-alberta.jpg" class="rounded" alt="Responsive image" width="250" height="250">
	<img src="https://www.mtlblog.com/media-library/image.jpg?id=26902961&width=1245&height=700&coordinates=0%2C21%2C0%2C21" class="rounded" alt="Banff1" width="250" height="250">
  </div>
  <p class="text-center">These images are from Banff in Ontario, it is a beautiful place in Canada.</p>

  <h2 style="padding-top: 20px; padding-bottom: 20px;">Audio Section</h2>
  <audio controls>
	<source src="https://pat-crawford-sdds.netlify.app/shared/winter-2023/web700/A3/sample-audio.mp3" type="audio/mp3">
	<source src="https://pat-crawford-sdds.netlify.app/shared/winter-2023/web700/A3/sample-audio.ogg" type="audio/ogg">
	Your browser does not support the audio tag.
  </audio>
  <p>These are the audio files that my professor have provided for me.</p>

  <h2 style="padding-top: 20px; padding-bottom: 20px;">Video Section</h2>
  <video controls>
	<source src="https://img-9gag-fun.9cache.com/photo/aXngEnv_460svav1.mp4" type="video/mp4">
	Your browser doesn't support the video tag.
  </video>
  <p>This video depicts how two children can be cute.</p>
  <div style="padding-bottom: 200px;"></div>
  
  

					<!-- End your code here  -->



				</main>
			</div>
		</div>
{{>footer}}

	</body>
</html>